<h1>Edit Here :</h1>
<form name="queryForm" novalidate>
    <div class="form-group">
        <span></span>
        <label for="upc12">UPC12 </label>
        <input id="upc12" class="form-control" type="text" name="upc12" ng-model="ctrl.grocery.upc12">
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input id="Name" class="form-control" type="text" name="Name" data-ng-model="ctrl.grocery.name">
    </div>
    <div class="form-group">
        <label for="brand">Brand </label>
        <input id="brand" class="form-control" type="text" name="brand" data-ng-model="ctrl.grocery.brand">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info form-control" ng-disabled="!ctrl.editable"
                ng-click="ctrl.save()">
            Save
        </button>
        <button class="btn btn-info form-control" ng-click="ctrl.back()">
            Back
        </button>
    </div>
</form>