<!--Div with the bootstrap and the list for the boxes-->
    <h1>Search Here :</h1>

        <form name="queryForm" novalidate class="form-inline">
            <div class="form-group">
                <input id="Name" class="form-control" type="text" name="Name" ng-model="ctrl.searchValue"
                       placeholder="Enter grocery name or brand">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                        ng-click="ctrl.searchByName()">
                    Name Search
                </button>
                <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                        ng-click="ctrl.searchByBrand()">
                    Brand Search
                </button>
            </div>
        </form>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Barcode</th>
                <th>Brand</th>
                <th>Product Name</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="grocery in ctrl.list">
                <td><img src="http://www.barcodes4.me/barcode/c128a/{{grocery.upc12}}.png?IsTextDrawn=1"></td>
                <td>{{ grocery.brand }}</td>
                <td>{{grocery.name}}</td>
                <td><button type="button" ng-click="ctrl.edit(grocery.id)">Edit</button></td>
            </tr>
            </tbody>
        </table>

